/**
* FONTS
*/
@font-face {
    font-family: "Courgette";
    src: url('../font/Courgette-Regular.ttf') format('truetype');
    src: url('../font/Courgette-Regular.svg') format('svg'),
        url('../font/Courgette-Regular.woff') format('woff'),
        url('../font/Courgette-Regular.eot') format('eot'),
        url('../font/Courgette-Regular.eot?#iefix') format('embedded opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Oswald-ExtraLight";
    src: url('../font/Oswald-ExtraLight.ttf') format('truetype');
    src: url('../font/Oswald-ExtraLight.svg') format('svg'),
        url('../font/Oswald-ExtraLight.woff') format('woff'),
        url('../font/Oswald-ExtraLight.eot') format('eot'),
        url('../font/Oswald-ExtraLight.eot?#iefix') format('embedded opentype');
    font-style: normal;
    font-weight: normal;
}

/**
*   MEDIA QUERIES
576px = md */
@media (min-width: 576px) and (max-width: 992px) {
    .footer-mail {
        display: flex;
        flex-direction: column;
    }
}

/**
* GENERAL
*/
h1, h2, h3, h4, .article a, .navbar-brand {
    font-family: Courgette, serif;
}

h4 {
    font-size: 1em;
}

p, a, .btn, input, figcaption, span {
    font-family: Oswald-ExtraLight, sans-serif;
}

input {
    font-weight: bold !important;
}

.btn {
    border: 1px black solid;
    font-weight: bold;
}

/**
* HEADER
*/
header {
    position: relative;
    color: white;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.header-back {
    background: rgb(0, 0, 0, 0.7);
    z-index: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.banner {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 200px;
}

.banner-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.logo {
    height: 70px;
    margin-bottom: 10px;
}

.navbar {
    position: relative;
    border-bottom: 1px gray solid;
    z-index: 1;
}

/**
* SHARE-SEARCH
*/
input {
    border-radius: 5px;
}

.share-search i {
    margin-right: 10px;
}

/**
* FOOTER
*/
footer {
    background-color: black;
    color: white;
}

footer a:link, footer a:visited {
    color: white;
    text-decoration: underline;
}

footer .row {
    padding: 40px 0;
}

footer .share-buttons, footer h4, footer h3 {
    margin-top: 30px;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer i {
    border: 1px white solid;
    border-radius: 2px;
    padding: 3px 5px;
    background-color: white;
    color: black;
}

footer .btn {
    color: white;
    border: 1px white solid;
}