/**
* HEADER
*/
header {
    background-image: url(../img/articles/suzette/suzette-header.jpg);
}

.header-back {
    z-index: -1;
}

.banner-contents {
    background-color: black;
    padding: 0 20px;
}

/**
* MAIN-POST
*/
article, .author, .comments-form {
    border-bottom: 1px gray solid;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.article-content > p:first-of-type::first-letter {
    font-size: 4em;
    font-weight: bold;
    color: gray;
    padding-right: 10px;
    float: left;
    margin-top: -20px;
}

.clear {
    clear: both; 
}

/**
* AUTHOR
*/
.author-thumbnail img {
    height: 130px;
    border-radius: 50%;
}

/**
* COMMENTS FORM
*/
.comments-form {
    border-bottom: none;
}

/**
* COMMENTS
*/
.comments {
    margin-bottom: 50px;
}

.comments img {
    height: 70px;
}

.comment-answer img {
    opacity: 0.5;
}

.comments h3 {
    font-size: 1.5em;
}

/**
* SHARE-SEARCH
*/
.share-search {
    margin-top: -20px;
}