/**
* FONTS
*/
@font-face {
    font-family: "Courgette";
    src: url('../font/Courgette-Regular.ttf') format('truetype');
    src: url('../font/Courgette-Regular.svg') format('svg'),
        url('../font/Courgette-Regular.woff') format('woff'),
        url('../font/Courgette-Regular.eot') format('eot'),
        url('../font/Courgette-Regular.eot?#iefix') format('embedded opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Oswald-ExtraLight";
    src: url('../font/Oswald-ExtraLight.ttf') format('truetype');
    src: url('../font/Oswald-ExtraLight.svg') format('svg'),
        url('../font/Oswald-ExtraLight.woff') format('woff'),
        url('../font/Oswald-ExtraLight.eot') format('eot'),
        url('../font/Oswald-ExtraLight.eot?#iefix') format('embedded opentype');
    font-style: normal;
    font-weight: normal;
}

/**
* GENERAL
*/
h1, h2, h3, h4, .article a {
    font-family: Courgette;
}

h4 {
    font-style: italic;
    font-size: 1em;
}

p, a, .btn, input {
    font-family: Oswald-ExtraLight;
}

input {
    font-weight: bold !important;
}

.btn {
    border: 1px black solid;
    font-weight: bold;
}

/**
* HEADER
*/
header {
    color: white;
    background-image: url(../img/header.jpg);
    background-position: center;
    height: 500px;
}

.header-back div {
    background-color: black;
    height: 500px;
    opacity: 0.7;
}

.header-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.banner {
    display: flex;
    justify-content: center;
    padding: 130px;
}

.banner-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.logo {
    height: 70px;
    margin-bottom: 10px;
}

.navbar {
    border-bottom: 1px gray solid;
    opacity: 1;
}

/**
* MAIN
*/
.main-title h2 {
    margin: 30px auto;
}

.main-foot {
    margin-bottom: 40px;
}

.article a:link, .article a:visited {
    color: black;
    text-decoration: none;
}

/**
* SHARE-SEARCH
*/
input {
    border-radius: 5px;
}

.share-search i {
    margin-right: 10px;
}

/**
* FOOTER
*/
footer {
    background-color: black;
    color: white;
}

footer a:link, footer a:visited {
    color: white;
    text-decoration: underline;
}

footer .row {
    padding: 40px 0;
}

footer .share-buttons {
    margin-top: 30px;
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer i {
    border: 1px white solid;
    border-radius: 2px;
    padding: 8px;
    background-color: white;
    color: black;
}

footer .btn {
    color: white;
    border: 1px white solid;
}